<div class="container">
<div class="card mt-5 ">
    <h1  class="title is-1">Password generator</h1>
    <div class="mb-3">
        <label  class="label">Password Length</label>
        <input  class="input is-primary is-rounded" type="number"  placeholder="Enter length of passwword"
        (input)="onChangeLength($event)">
      </div>

      <div>
        <label class="checkbox">Use letters </label>
        <input type="checkbox" (change)="onUseLetters()">
      </div>
      <div>
        <label class="checkbox" >Use Numbers </label>
        <input type="checkbox" (change)="onUseNumbers()">
      </div>
      <div>
        <label class="checkbox" >Use Symbols </label>
        <input type="checkbox" (change)="onUseSymbols()">
      </div>
      <div>
        <button class="button is-primary" [disabled]="!(passwordLength && (includeLetters || includeNumbers || includeSymbols))"   (click)="onButtonClick()">Generate</button>
      </div>

      <div *ngIf="password">
        <label class="label">Your password</label>
        <input  class="input is-link is-rounded" readonly [value]="password" />
      </div>


      
</div>
</div>